config CM
    bool "Command mode support"
    default y

config CM_BUF_SIZE_KiB
    int "Command buffer size in KiB"
    default 4096
    depends on CM

config CM_TRANSPORT_READY_TIMEOUT
    int "Timeout in seconds before transport must become ready"
    default 10
    depends on CM

config CM_AUTH
    bool "Enable command mode authentication"
    default y
    depends on CM
    help
        This will enable authentication when the security life cycle is >= LOCKED

config CM_AUTH_TOKEN
    bool "Token based authentication"
    depends on CM_AUTH
    help
        Authenticate using the signature of the hash, of the device UUID

config CM_AUTH_PASSWORD
    bool "Password based authentication"
    depends on CM_AUTH
    help
        Authenticate using a password. This requires a board level implementation.
