menu "Uart"

config DRIVERS_IMX_LPUART
    bool "i.MX lpuart"
    depends on SOC_FAMILY_IMX
    default n

config DRIVERS_IMX_UART
    bool "i.MX uart"
    depends on SOC_FAMILY_IMX
    default n

endmenu
