config DRIVERS_CRYPTO_MBEDTLS_PATH
    string "Library path"
    depends on DRIVERS_CRYPTO_MBEDTLS
    default "download/mbedtls"

config DRIVERS_CRYPTO_MBEDTLS_VERSION
    string "Version"
    depends on DRIVERS_CRYPTO_MBEDTLS
    default "x.y.z"

config DRIVERS_CRYPTO_MBEDTLS_URL
    string "Download URL"
    depends on DRIVERS_CRYPTO_MBEDTLS
    default "https://"
