menu "Authentication"

config AUTH
    bool "Enable command mode authentication"
    default y

choice AUTH_METHOD
    prompt "Authentication method"
    depends on AUTH

config AUTH_METHOD_TOKEN
    bool "Token based authentication"

config AUTH_METHOD_PASSWORD
    bool "Password based authentication"

endchoice

endmenu
