*.o
*.bin
*.imx
*.dero
*.xmio
*.gcda
*.img
*.gcno
*.gcov
*.pbi
*.gz
cov-int
blobs
cscope*
src/pb
src/test_*
src/head.hash
src/test_log.txt
src/key_data.c
src/tools/punchboot/punchboot
*.pbi
src/tools/pbimage/pbimage
src/3pp/tinyprintf/*.o
src/pb.csf
src/qemu.log
src/plat/imx6ul/hab_srks.c
src/plat/imx8m/hab_srks.c
