[submodule "src/3pp/libtomcrypt"]
	path = src/3pp/libtomcrypt
	url = https://github.com/libtom/libtomcrypt.git
[submodule "src/3pp/libtommath"]
	path = src/3pp/libtommath
	url = https://github.com/libtom/libtommath.git
[submodule "src/3pp/tinyprintf"]
	path = src/3pp/tinyprintf
	url = https://github.com/jonpe960/tinyprintf.git
[submodule "src/3pp/ufsm"]
	path = src/3pp/ufsm
	url = https://www.github.com/jonpe960/ufsm
