*.o
*.bino
*.bak
*.bin
*.imx
*.dero
*.xmio
*.gcda
*.img
*.gcno
*.gcov
*.pbi
*.gz
src/build-*
cov-int
cov.xml
src/tools/imxcst/src/build-*
src/tools/pbconfig/pbconfig
src/tools/pbimage/pbimage
src/tools/punchboot/punchboot
blobs/
