mainmenu "Punchboot configuration"


choice BOARD
	bool "Board"

config BOARD_QEMU_ARMV7
	bool "QEMU ARMv7"

config BOARD_JIFFY
	bool "Jiffy"

config BOARD_PICO8ML
	bool "pico8ml"

config BOARD_IMX8QXMEK
	bool "imx8qxmek"

config BOARD_EXTERNAL
	bool "External source tree"

endchoice

config BOARD_SRC_DIR
    string "Configure board source directory"
    depends on BOARD_EXTERNAL

config TOOLCHAIN_PREFIX
	string "Toolchain prefix"
	default "arm-eabi-"

config KEYSTORE
	string "Key-store source"
	default "pki/internal_keystore.bpak"

choice LOGGING
	bool "Enable logging"
	optional

config LOG_LEVEL_1
	bool "Only log errors"

config LOG_LEVEL_2
	bool "Log errors and info messages"

config LOG_LEVEL_3
	bool "Log errors, info and debug messages"

endchoice

choice AUTH
	bool "Enable command mode authentication"
	optional

config AUTH_TOKEN
	bool "Token based authentication"

config AUTH_PASSWORD
	bool "Password based authentication"

endchoice





