mainmenu "Punchboot configuration"

source "arch/Kconfig"
source "plat/Kconfig"
source "arch/*/Kconfig"
source "plat/*/Kconfig"

source "kconfig/Kconfig.board"
source "kconfig/Kconfig.generic"
source "kconfig/Kconfig.build"
source "kconfig/Kconfig.auth"
source "kconfig/Kconfig.boot"
source "kconfig/Kconfig.library"
source "kconfig/Kconfig.transport"

