mainmenu "Punchboot configuration"
comment "Punchboot configuration"

source "arch/Kconfig"
source "plat/Kconfig"
source "board/Kconfig"

source "arch/*/Kconfig"
source "plat/*/Kconfig"
source "board/*/Kconfig"

config TOOLCHAIN_PREFIX
	string "Toolchain prefix"
	default "arm-eabi-"

config KEYSTORE
	string "Key-store source"
	default "pki/internal_keystore.bpak"

config LOGLEVEL
	int "loglevel"
    default 0

config ENABLE_WATCHDOG
	bool "Enable watchdog"
    default y

config WATCHDOG_TIMEOUT
    int "Watchdog timeout (s)"
    default 5
    depends on ENABLE_WATCHDOG


source "bearssl/Kconfig"
source "kconfig/Kconfig.*"

