menu "imx6ul configuration"
    depends on PLAT_IMX6UL
    comment "Console configuration"


comment "USB Transport"
config EHCI_BASE
    hex "EHCI base address"
    default 0x02184000

comment "CAAM"
config IMX_CAAM_BASE
    hex "CAAM base address"
    default 0x31430000

endmenu
