
choice ARCH
    bool "Architecture"
config ARCH_ARMV8
	bool "ARMv8"
config ARCH_ARMV7
	bool "ARMv7"
config ARCH_ARMV7M
	bool "ARMv7m"
endchoice

choice ARMV8_EL
    bool "Run in EL"
    depends on ARCH_ARMV8
config ARMV8_EL3
    bool "EL3"
endchoice
