menu "imx8x configuration"
    depends on PLAT_IMX8X
    comment "imx8x configuration"

choice IMX8X_CONSOLE_UART
	bool "Select console UART"
config IMX8X_CONSOLE_UART0
	bool "UART0"
config IMX8X_CONSOLE_UART1
	bool "UART1"
config IMX8X_CONSOLE_UART2
	bool "UART2"
endchoice

config IMX8X_CONSOLE_BAUDRATE
    int "Baudrate"
    default 115200
endmenu

menu "Output image"
    depends on PLAT_IMX8X
config IMX8X_CREATE_IMX_IMAGE
    bool "Create imx-image"
    default n

config IMX8X_SIGN_IMAGE
    bool "Sign image"
    default n
    depends on IMX8X_CREATE_IMX_IMAGE
endmenu


