menu "imx8x configuration"
    depends on PLAT_IMX8X
    comment "imx8x configuration"

config IMX8X_FUSE_DRY_RUN
    bool "Fusebox dry run"
    default n
    depends on PLAT_IMX8X
    help
    Enabling this option will inhibit fuse programming and instead writing
    the fuse bank and value to the console.

endmenu

menu "Output image"
    depends on PLAT_IMX8X
config IMX8X_CREATE_IMX_IMAGE
    bool "Create imx-image"
    default n

config IMX8X_SIGN_IMAGE
    bool "Sign image"
    default n
    depends on IMX8X_CREATE_IMX_IMAGE

endmenu
