menu "Crypto"


config DRIVERS_IMX_CAAM
    bool "i.MX CAAM driver"
    depends on SOC_FAMILY_IMX
    default y

menuconfig DRIVERS_CRYPTO_MBEDTLS
    bool "mbedtls"
    default n

if DRIVERS_CRYPTO_MBEDTLS
source "src/drivers/crypto/mbedtls/Kconfig"
endif

endmenu
