menu "Block drivers"

config DRIVERS_BIO_CORE
    bool "Enable support for block devices"
    default y

config DRIVERS_BIO_MAX_DEVS
    int "Maxmum number of block devices"
    default 32
    depends on DRIVERS_BIO_CORE

endmenu
