
choice BOARD
    bool "Board"

config BOARD_IMX8QXMEK
    bool "NXP IMX8X QX MEK"
    depends on PLAT_IMX8X

config BOARD_QEMUARMV7
    bool "QEMU armv7"
    depends on PLAT_QEMU

config BOARD_TEST
    bool "QEMU test"
    depends on PLAT_QEMU

config BOARD_JIFFY
    bool "Jiffy"
    depends on PLAT_IMX6UL

config BOARD_BEBOP
    bool "Bebop"
    depends on PLAT_IMX6UL

config BOARD_PICO8ML
    bool "pico8ml"
    depends on PLAT_IMX8M

config BOARD_IMX8MEVK
    bool "NXP IMX8M EVK"
    depends on PLAT_IMX8M

endchoice
