menu "Output image"
    depends on PLAT_IMX6UL

config IMX6UL_CREATE_IMX_IMAGE
    bool "Create imx-image"
    default n

config IMX6UL_MKIMAGE_TOOL
    string "mkimage tool"
    default "mkimage_imx8"
    depends on IMX6UL_CREATE_IMX_IMAGE

config IMX6UL_SIGN_IMAGE
    bool "Sign image"
    default n
    depends on IMX6UL_CREATE_IMX_IMAGE

config IMX6UL_SRK_TABLE
    string "SRK Table binary"
    default "pki/imx6ul_hab_testkeys/SRK_1_2_3_4_table.bin"
    depends on IMX6UL_SIGN_IMAGE

config IMX6UL_KEY_INDEX
    int "Key index (0-3)"
    default 0
    depends on IMX6UL_SIGN_IMAGE

config IMX6UL_SIGN_CERT
    string "Signing certificate"
    default "pki/imx6ul_hab_testkeys/CSF1_1_sha256_4096_65537_v3_usr_crt.pem"
    depends on IMX6UL_SIGN_IMAGE

config IMX6UL_IMAGE_SIGN_CERT
    string "Signing certificate"
    default "pki/imx6ul_hab_testkeys/IMG1_1_sha256_4096_65537_v3_usr_crt.pem"
    depends on IMX6UL_SIGN_IMAGE
endmenu
