# CONFIG_ARCH_ARMV8 is not set
CONFIG_ARCH_ARMV7=y
CONFIG_PLAT_IMX6UL=y
# CONFIG_PLAT_QEMU is not set

#
# imx6ul configuration
#

#
# Console configuration
#

#
# Watchdog
#
CONFIG_IMX_WATCHDOG_BASE=0x020BC000

#
# Debug serial port
#
CONFIG_IMX_UART_BASE=0x021E8000
CONFIG_IMX_UART_BAUDRATE=115200

#
# Fusebox
#
CONFIG_IMX_OCOTP_BASE=0x021BC000
CONFIG_IMX_OCOTP_WORDS_PER_BANK=8
# CONFIG_IMX_OCOTP_DEBUG is not set
# end of imx6ul configuration

#
# Output image
#
CONFIG_IMX6UL_CREATE_IMX_IMAGE=y
CONFIG_IMX6UL_MKIMAGE_TOOL="mkimage"
CONFIG_IMX6UL_SIGN_IMAGE=y
CONFIG_IMX6UL_SRK_TABLE="pki/imx6ul_hab_testkeys/SRK_1_2_3_4_table.bin"
CONFIG_IMX6UL_KEY_INDEX=0
CONFIG_IMX6UL_SIGN_CERT="pki/imx6ul_hab_testkeys/CSF1_1_sha256_4096_65537_v3_usr_crt.pem"
CONFIG_IMX6UL_IMAGE_SIGN_CERT="pki/imx6ul_hab_testkeys/IMG1_1_sha256_4096_65537_v3_usr_crt.pem"
# end of Output image

#
# Generic options
#
CONFIG_KEYSTORE="pki/internal_keystore.bpak"
CONFIG_LOGLEVEL=3
CONFIG_ENABLE_WATCHDOG=y
CONFIG_WATCHDOG_TIMEOUT=5
CONFIG_DUMP_TIMING_ANALYSIS=y
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION is not set
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION_LOCK is not set
# end of Generic options

#
# Build configuration
#
CONFIG_OPTIMIZE="2"
# CONFIG_DEBUG_SYMBOLS is not set
# CONFIG_STACK_USAGE is not set
CONFIG_STACK_SIZE_KB=8
# end of Build configuration

#
# Authentication
#
# CONFIG_AUTH is not set
# end of Authentication

#
# Command mode transport configuration
#
CONFIG_CMD_BUF_SIZE_KB=4096
CONFIG_TRANSPORT_MAX_CHUNK_KB=4096
CONFIG_LOAD_FS_MAX_CHUNK_KB=4096
CONFIG_TRANSPORT_READY_TIMEOUT=10
# CONFIG_TRANSPORT_ENTER_BOARD_CB is not set
# end of Command mode transport configuration

CONFIG_LIB_UUID3=y
# CONFIG_BEARSSL is not set
