CONFIG_ARCH_ARMV8=y
# CONFIG_ARCH_ARMV7 is not set
# CONFIG_ARCH_ARMV7M is not set
CONFIG_ARMV8_EL3=y

#
# Platform support
#
CONFIG_SOC_FAMILY_IMX=y
CONFIG_PLAT_IMX8X_COMMON=y
# CONFIG_PLAT_IMX8X is not set
CONFIG_PLAT_IMX8XL=y
# CONFIG_PLAT_IMX8M is not set

#
# imx8x configuration
#

#
# imx8x configuration
#
# CONFIG_IMX8X_FUSE_DRY_RUN is not set
# end of imx8x configuration

#
# Output image
#
CONFIG_IMX8X_CREATE_IMX_IMAGE=y
# CONFIG_IMX8X_SIGN_IMAGE is not set
# end of Output image
# end of Platform support

#
# Generic options
#
CONFIG_KEYSTORE="keystore.bpak"
CONFIG_LOGLEVEL=3
CONFIG_ENABLE_WATCHDOG=y
CONFIG_PRINT_BOOT_BANNER=y
CONFIG_WATCHDOG_TIMEOUT=10
# CONFIG_ENABLE_TIMESTAMPING is not set
CONFIG_DEVICE_UUID=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_MAX_HASH_OPS=1
CONFIG_CRYPTO_MAX_DSA_OPS=1
CONFIG_BIO_CORE=y
CONFIG_BIO_MAX_DEVS=128
# CONFIG_SELF_TEST is not set
CONFIG_EXECUTE_IN_RAM=y
# CONFIG_EXECUTE_IN_FLASH is not set
# end of Generic options

#
# Build configuration
#
CONFIG_OPTIMIZE="2"
# CONFIG_DEBUG_SYMBOLS is not set
# CONFIG_STACK_USAGE is not set
CONFIG_STACK_SIZE_KiB=16
CONFIG_LINK_FILE="src/link.lds"
# end of Build configuration

#
# Boot
#
CONFIG_BOOT_CORE=y
CONFIG_BOOT_BPAK_IMAGE_HELPERS=y
CONFIG_BOOT_AB_DRIVER=y
CONFIG_BOOT_LINUX=y
# CONFIG_BOOT_ARMV7M_BAREMETAL is not set
CONFIG_BOOT_LOAD_CHUNK_kB=4096
# end of Boot

#
# Drivers
#

#
# Crypto
#
CONFIG_DRIVERS_IMX_CAAM=y
# CONFIG_DRIVERS_CRYPTO_MBEDTLS is not set
# end of Crypto

#
# Filesystem
#
# CONFIG_LITTLE_FS is not set
# end of Filesystem

#
# Fusebox
#
# CONFIG_DRIVERS_FUSE_TEST is not set
# CONFIG_DRIVERS_FUSE_IMX_OCOTP is not set
# end of Fusebox

#
# GPIO
#
CONFIG_DRIVERS_IMX_GPIO=y
# end of GPIO

#
# Memory Controller Drivers
#
# CONFIG_IMX_FLEXSPI is not set
# end of Memory Controller Drivers

#
# MMC Host drivers
#
CONFIG_MMC_CORE=y
# CONFIG_MMC_CORE_DEBUG_CMDS is not set
# CONFIG_MMC_CORE_DEBUG_IOS is not set
# CONFIG_MMC_CORE_HS200_TUNE is not set
# CONFIG_MMC_CORE_OVERRIDE_BOOT_PART_SZ is not set
CONFIG_IMX_USDHC=y
# CONFIG_IMX_USDHC_XTRA_DEBUG is not set
# end of MMC Host drivers

#
# Partition table drivers
#
CONFIG_PARTITION_GPT=y
# CONFIG_PARTITION_STATIC is not set
# end of Partition table drivers

#
# Timers
#
CONFIG_DRIVERS_IMX_GPT=y
# end of Timers

#
# Uart
#
CONFIG_DRIVERS_IMX_LPUART=y
# CONFIG_DRIVERS_IMX_UART is not set
# end of Uart

#
# USB
#
CONFIG_DRIVER_USB_DEVICE=y
CONFIG_DRIVER_IMX_USB2_PHY=y
CONFIG_DRIVER_IMX_CI_UDC=y
CONFIG_DRIVER_IMX_USBDCD=y
# CONFIG_DRIVER_IMX_CDNS3_UDC is not set
# CONFIG_DRIVER_IMX_DWC3_UDC is not set
# CONFIG_DRIVER_IMX8M_PHY is not set
CONFIG_DRIVER_USB_PB_CLS=y
# end of USB

#
# Virtio
#
# CONFIG_DRIVER_VIRTIO_BLOCK is not set
# CONFIG_DRIVER_VIRTIO_SERIAL is not set
# end of Virtio

#
# Watchdog
#
# CONFIG_DRIVERS_IMX_WDOG is not set
# end of Watchdog
# end of Drivers

#
# Command mode
#
CONFIG_CM=y
CONFIG_CM_BUF_SIZE_KiB=4096
CONFIG_CM_TRANSPORT_READY_TIMEOUT=10
CONFIG_CM_AUTH=y
CONFIG_CM_AUTH_TOKEN=y
CONFIG_CM_AUTH_PASSWORD=y
# end of Command mode

#
# Library
#
CONFIG_LIB_ZLIB_CRC=y
CONFIG_LIB_BPAK=y
CONFIG_LIB_DER_HELPERS=y
CONFIG_LIB_FDT=y
CONFIG_LIB_UUID=y
CONFIG_LIB_UUID3=y
CONFIG_LIB_XLAT_TBLS=y
CONFIG_LIB_XLAT_TBLS_ARMV8=y
# end of Library
