CONFIG_ARCH_ARMV8=y
# CONFIG_ARCH_ARMV7 is not set
CONFIG_ARMV8_EL3=y

#
# Platform support
#
CONFIG_SOC_FAMILY_IMX=y
CONFIG_PLAT_IMX8X=y
# CONFIG_PLAT_IMX8M is not set

#
# imx8x configuration
#

#
# imx8x configuration
#
CONFIG_IMX8X_CONSOLE_UART0=y
# CONFIG_IMX8X_CONSOLE_UART1 is not set
# CONFIG_IMX8X_CONSOLE_UART2 is not set
CONFIG_IMX8X_CONSOLE_BAUDRATE=115200
# end of imx8x configuration

#
# Output image
#
CONFIG_IMX8X_CREATE_IMX_IMAGE=y
CONFIG_IMX8X_SIGN_IMAGE=y
# end of Output image
# end of Platform support

#
# Generic options
#
CONFIG_KEYSTORE="pki/internal_keystore.bpak"
CONFIG_LOGLEVEL=3
CONFIG_ENABLE_WATCHDOG=y
CONFIG_PRINT_BOOT_BANNER=y
CONFIG_WATCHDOG_TIMEOUT=5
CONFIG_ENABLE_TIMESTAMPING=y
CONFIG_PRINT_TIMESTAMPS=y
CONFIG_NO_OF_TIMESTAMPS=64
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION is not set
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION_LOCK is not set
CONFIG_DEVICE_UUID=y
CONFIG_CRYPTO=y
CONFIG_CRYPTO_MAX_HASH_OPS=1
CONFIG_CRYPTO_MAX_DSA_OPS=1
CONFIG_SELF_TEST=y
# end of Generic options

#
# Build configuration
#
CONFIG_OPTIMIZE="2"
# CONFIG_DEBUG_SYMBOLS is not set
# CONFIG_STACK_USAGE is not set
CONFIG_STACK_SIZE_KB=16
# end of Build configuration

#
# Boot
#
CONFIG_BOOT_CORE=y
CONFIG_BOOT_BPAK_IMAGE_HELPERS=y
CONFIG_BOOT_AB_DRIVER=y
CONFIG_BOOT_LINUX=y
CONFIG_BOOT_LOAD_CHUNK_kB=4096
# end of Boot

#
# Drivers
#

#
# Block drivers
#
CONFIG_DRIVERS_BIO_CORE=y
CONFIG_DRIVERS_BIO_MAX_DEVS=32
# end of Block drivers

#
# Crypto
#
CONFIG_DRIVERS_IMX_CAAM=y
# CONFIG_DRIVERS_CRYPTO_MBEDTLS is not set
# end of Crypto

#
# Fusebox
#
CONFIG_DRIVERS_FUSE_TEST=y
# end of Fusebox

#
# GPIO
#
CONFIG_DRIVERS_IMX_GPIO=y
# end of GPIO

#
# MMC Host drivers
#
CONFIG_MMC_CORE=y
# CONFIG_MMC_CORE_DEBUG_CMDS is not set
# CONFIG_MMC_CORE_DEBUG_IOS is not set
# CONFIG_MMC_CORE_HS200_TUNE is not set
CONFIG_IMX_USDHC=y
# CONFIG_IMX_USDHC_XTRA_DEBUG is not set
# end of MMC Host drivers

#
# Partition table drivers
#
CONFIG_PARTITION_GPT=y
# end of Partition table drivers

#
# Timers
#
CONFIG_DRIVERS_IMX_GPT=y
# end of Timers

#
# Uart
#
CONFIG_DRIVERS_IMX_LPUART=y
# end of Uart

#
# USB
#
CONFIG_DRIVER_USB_DEVICE=y
CONFIG_DRIVER_IMX_USB2_PHY=y
CONFIG_DRIVER_IMX_EHCI=y
# CONFIG_DRIVER_IMX_USBDCD is not set
CONFIG_DRIVER_USB_PB_CLS=y
# end of USB

#
# Virtio
#
# CONFIG_DRIVER_VIRTIO_BLOCK is not set
# CONFIG_DRIVER_VIRTIO_SERIAL is not set
# end of Virtio
# end of Drivers

#
# Command mode
#
CONFIG_CM=y
CONFIG_CM_BUF_SIZE_KB=4096
CONFIG_CM_TRANSPORT_READY_TIMEOUT=10
CONFIG_CM_AUTH=y
CONFIG_CM_AUTH_TOKEN=y
CONFIG_CM_AUTH_PASSWORD=y
# end of Command mode

#
# Library
#
CONFIG_LIB_ZLIB_CRC=y
# CONFIG_LIB_FLETCHER8 is not set
CONFIG_LIB_BPAK=y
CONFIG_LIB_DER_HELPERS=y
CONFIG_LIB_FDT=y
CONFIG_LIB_UUID=y
CONFIG_LIB_UUID3=y
CONFIG_LIB_XLAT_TBLS=y
CONFIG_LIB_XLAT_TBLS_ARMV8=y
# end of Library
