CONFIG_ARCH_ARMV8=y
# CONFIG_ARCH_ARMV7 is not set
CONFIG_PLAT_IMX8X=y
# CONFIG_PLAT_IMX8M is not set

#
# imx8x configuration
#

#
# imx8x configuration
#
CONFIG_CONSOLE_UART0=y
# CONFIG_CONSOLE_UART1 is not set
# CONFIG_CONSOLE_UART2 is not set
# end of imx8x configuration

#
# Output image
#
CONFIG_IMX8X_CREATE_IMX_IMAGE=y
CONFIG_IMX8X_SIGN_IMAGE=y
# end of Output image

#
# Generic options
#
CONFIG_KEYSTORE="pki/internal_keystore.bpak"
CONFIG_LOGLEVEL=3
CONFIG_ENABLE_WATCHDOG=y
CONFIG_WATCHDOG_TIMEOUT=5
CONFIG_DUMP_TIMING_ANALYSIS=y
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION is not set
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION_LOCK is not set
# end of Generic options

#
# Build configuration
#
CONFIG_OPTIMIZE="2"
# CONFIG_DEBUG_SYMBOLS is not set
# CONFIG_STACK_USAGE is not set
CONFIG_STACK_SIZE_KB=16
# end of Build configuration

#
# Authentication
#
CONFIG_AUTH=y
CONFIG_AUTH_METHOD_TOKEN=y
# CONFIG_AUTH_METHOD_PASSWORD is not set
# end of Authentication

#
# Command mode transport configuration
#
CONFIG_CMD_BUF_SIZE_KB=4096
CONFIG_TRANSPORT_MAX_CHUNK_KB=4096
CONFIG_LOAD_FS_MAX_CHUNK_KB=4096
CONFIG_TRANSPORT_READY_TIMEOUT=10
# CONFIG_TRANSPORT_ENTER_BOARD_CB is not set
# end of Command mode transport configuration

CONFIG_LIB_UUID3=y
# CONFIG_BEARSSL is not set
