# CONFIG_ARCH_ARMV8 is not set
CONFIG_ARCH_ARMV7=y
CONFIG_PLAT_IMX6UL=y
# CONFIG_PLAT_QEMU is not set

#
# imx6ul configuration
#

#
# Console configuration
#

#
# USB Transport
#
CONFIG_EHCI_BASE=0x02184000

#
# CAAM
#
CONFIG_IMX_CAAM_BASE=0x02141000

#
# Watchdog
#
CONFIG_IMX_WATCHDOG_BASE=0x020BC000

#
# Generic timer
#
CONFIG_IMX_GPT_BASE=0x02098000
CONFIG_IMX_GPT_PR=24

#
# Debug serial port
#
CONFIG_IMX_UART_BASE=0x021E8000
CONFIG_IMX_UART_BAUDRATE=115200

#
# Fusebox
#
CONFIG_IMX_OCOTP_BASE=0x021BC000
CONFIG_IMX_OCOTP_WORDS_PER_BANK=8
# CONFIG_IMX_OCOTP_DEBUG is not set
# end of imx6ul configuration

#
# Output image
#
CONFIG_IMX6UL_CREATE_IMX_IMAGE=y
CONFIG_IMX6UL_MKIMAGE_TOOL="mkimage"
CONFIG_IMX6UL_SIGN_IMAGE=y
CONFIG_IMX6UL_SRK_TABLE="pki/imx6ul_hab_testkeys/SRK_1_2_3_4_table.bin"
CONFIG_IMX6UL_KEY_INDEX=0
CONFIG_IMX6UL_SIGN_CERT="pki/imx6ul_hab_testkeys/CSF1_1_sha256_4096_65537_v3_usr_crt.pem"
CONFIG_IMX6UL_IMAGE_SIGN_CERT="pki/imx6ul_hab_testkeys/IMG1_1_sha256_4096_65537_v3_usr_crt.pem"
# end of Output image

#
# Board configuration
#

#
# Generic options
#
CONFIG_KEYSTORE="pki/internal_keystore.bpak"
CONFIG_LOGLEVEL=3
CONFIG_ENABLE_WATCHDOG=y
CONFIG_WATCHDOG_TIMEOUT=5
# CONFIG_CALL_EARLY_PLAT_BOOT is not set
# CONFIG_DUMP_TIMING_ANALYSIS is not set
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION is not set
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION_LOCK is not set
# end of Generic options

#
# Build configuration
#
CONFIG_OPTIMIZE="2"
# CONFIG_DEBUG_SYMBOLS is not set
# CONFIG_STACK_USAGE is not set
CONFIG_STACK_SIZE_KB=8
# end of Build configuration

#
# Authentication
#
CONFIG_AUTH=y
CONFIG_AUTH_METHOD_TOKEN=y
# end of Authentication

#
# Boot configuration
#

#
# Boot configuration
#
CONFIG_BOOT_AB=y
CONFIG_BOOT_IMAGE_ID=0xec103b08
CONFIG_BOOT_STATE_PRIMARY_UU="f5f8c9ae-efb5-4071-9ba9-d313b082281e"
CONFIG_BOOT_STATE_BACKUP_UU="656ab3fc-5856-4a5e-a2ae-5a018313b3ee"
CONFIG_BOOT_DT=y
CONFIG_BOOT_DT_ID=0x56f91b86
CONFIG_BOOT_RAMDISK=y
CONFIG_BOOT_RAMDISK_ID=0xf4cdac1f
CONFIG_BOOT_ENABLE_DTB_BOOTARG=y
CONFIG_BOOT_AB_A_UUID="2af755d8-8de5-45d5-a862-014cfa735ce0"
CONFIG_BOOT_AB_B_UUID="c046ccd8-0f2e-4036-984d-76c14dc73992"
# CONFIG_BOOT_POP_TIMING is not set
# end of Boot configuration

#
# Library
#
# CONFIG_BEARSSL is not set
# end of Library

#
# Command mode transport configuration
#
CONFIG_CMD_BUF_SIZE_KB=4096
CONFIG_TRANSPORT_MAX_CHUNK_KB=4096
CONFIG_LOAD_FS_MAX_CHUNK_KB=4096
CONFIG_TRANSPORT_READY_TIMEOUT=10
# end of Command mode transport configuration
