CONFIG_ARCH_ARMV8=y
# CONFIG_ARCH_ARMV7 is not set
# CONFIG_PLAT_IMX8X is not set
CONFIG_PLAT_IMX8M=y
CONFIG_IMX_WATCHDOG_BASE=0x30280000
CONFIG_IMX_UART_BASE=0x30860000
CONFIG_IMX_UART_BAUDRATE=115200
CONFIG_IMX_OCOTP_BASE=0x30350000
CONFIG_IMX_OCOTP_WORDS_PER_BANK=4
# CONFIG_IMX_OCOTP_DEBUG is not set

#
# imx8m configuration
#

#
# Console configuration
#

#
# USB Transport
#
CONFIG_DWC3_BASE=0x38100000

#
# Watchdog
#

#
# Debug serial port
#

#
# Fusebox
#
CONFIG_IMX8M_UMCTL_TRAIN_1D_D="lpddr4_pmu_train_1d_dmem.bin"
CONFIG_IMX8M_UMCTL_TRAIN_1D_I="lpddr4_pmu_train_1d_imem.bin"
CONFIG_IMX8M_UMCTL_TRAIN_2D_D="lpddr4_pmu_train_2d_dmem.bin"
CONFIG_IMX8M_UMCTL_TRAIN_2D_I="lpddr4_pmu_train_2d_imem.bin"
# end of imx8m configuration

#
# Output image
#
CONFIG_IMX8M_CREATE_IMX_IMAGE=y
CONFIG_IMX8M_SIGN_IMAGE=y
CONFIG_IMX8M_SRK_TABLE="pki/imx6ul_hab_testkeys/SRK_1_2_3_4_table.bin"
CONFIG_IMX8M_KEY_INDEX=0
CONFIG_IMX8M_SIGN_CERT="pki/imx6ul_hab_testkeys/CSF1_1_sha256_4096_65537_v3_usr_crt.pem"
CONFIG_IMX8M_IMAGE_SIGN_CERT="pki/imx6ul_hab_testkeys/IMG1_1_sha256_4096_65537_v3_usr_crt.pem"
# end of Output image

#
# Generic options
#
CONFIG_KEYSTORE="pki/internal_keystore.bpak"
CONFIG_LOGLEVEL=1
CONFIG_ENABLE_WATCHDOG=y
CONFIG_WATCHDOG_TIMEOUT=10
CONFIG_DUMP_TIMING_ANALYSIS=y
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION is not set
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION_LOCK is not set
# end of Generic options

#
# Build configuration
#
CONFIG_OPTIMIZE="2"
# CONFIG_DEBUG_SYMBOLS is not set
# CONFIG_STACK_USAGE is not set
CONFIG_STACK_SIZE_KB=4
# end of Build configuration

#
# Authentication
#
CONFIG_AUTH=y
CONFIG_AUTH_METHOD_TOKEN=y
# CONFIG_AUTH_METHOD_PASSWORD is not set
# end of Authentication

#
# Command mode transport configuration
#
CONFIG_CMD_BUF_SIZE_KB=4096
CONFIG_TRANSPORT_MAX_CHUNK_KB=4096
CONFIG_LOAD_FS_MAX_CHUNK_KB=4096
CONFIG_TRANSPORT_READY_TIMEOUT=10
# CONFIG_TRANSPORT_ENTER_BOARD_CB is not set
# end of Command mode transport configuration

CONFIG_LIB_UUID3=y
# CONFIG_BEARSSL is not set
