# CONFIG_ARCH_ARMV8 is not set
CONFIG_ARCH_ARMV7=y
# CONFIG_PLAT_IMX6UL is not set
CONFIG_PLAT_QEMU=y

#
# QEMU platform configuration
#
CONFIG_OVERRIDE_ARCH_JUMP=y
CONFIG_QEMU_RAM_MB=1024
CONFIG_QEMU_VIRTIO_DISK="/tmp/disk"
CONFIG_QEMU_VIRTIO_DISK_SIZE_MB=32
CONFIG_QEMU_ENABLE_TEST_COVERAGE=y
# end of QEMU platform configuration

#
# Generic options
#
CONFIG_KEYSTORE="pki/internal_keystore.bpak"
CONFIG_LOGLEVEL=3
CONFIG_ENABLE_WATCHDOG=y
CONFIG_WATCHDOG_TIMEOUT=5
CONFIG_DUMP_TIMING_ANALYSIS=y
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION is not set
# CONFIG_CALL_BOARD_SLC_SET_CONFIGURATION_LOCK is not set
# end of Generic options

#
# Build configuration
#
CONFIG_OPTIMIZE="2"
CONFIG_DEBUG_SYMBOLS=y
CONFIG_STACK_USAGE=y
CONFIG_STACK_SIZE_KB=16
# end of Build configuration

#
# Authentication
#
CONFIG_AUTH=y
CONFIG_AUTH_METHOD_TOKEN=y
# CONFIG_AUTH_METHOD_PASSWORD is not set
# end of Authentication

#
# Command mode transport configuration
#
CONFIG_CMD_BUF_SIZE_KB=4096
CONFIG_TRANSPORT_MAX_CHUNK_KB=4
CONFIG_LOAD_FS_MAX_CHUNK_KB=4096
CONFIG_TRANSPORT_READY_TIMEOUT=10
# CONFIG_TRANSPORT_ENTER_BOARD_CB is not set
# end of Command mode transport configuration

CONFIG_LIB_UUID3=y
CONFIG_BEARSSL=y
