menu "MMC Host drivers"

config MMC_CORE
    bool "Enalbe support for MMC"
    default n

config IMX_USDHC
    depends on SOC_FAMILY_IMX
    depends on MMC_CORE
	bool "Enable support i.MX USDHC"
    default n

endmenu
