menu "Generic options"

config KEYSTORE
	string "Key-store source"
	default "pki/internal_keystore.bpak"

config LOGLEVEL
	int "loglevel"
    default 0

config ENABLE_WATCHDOG
	bool "Enable watchdog"
    default y

config WATCHDOG_TIMEOUT
    int "Watchdog timeout (s)"
    default 5
    depends on ENABLE_WATCHDOG

config DUMP_TIMING_ANALYSIS
    bool "Dump timing analysis"
    default n
    help
        Print internal timestamps just before jump.
        This is mostly meaningful if loglevel is 0.

config CALL_BOARD_SLC_SET_CONFIGURATION
    bool "Call board_slc_set_configuration"
    default n
    help
        When the SLC configuration command is invoked the platform code also
        calls board_slc_set_configuration.

config CALL_BOARD_SLC_SET_CONFIGURATION_LOCK
    bool "Call board_slc_set_configuration_lock"
    default n
    help
        When the SLC configuration lock command is invoked the platform code also
        calls board_slc_set_configuration_lock.
endmenu
