menu "Command mode transport configuration"

config CMD_BUF_SIZE_KB
    int "Command buffer size in kB"
    default 4096

config TRANSPORT_MAX_CHUNK_KB
    int "Transport maximum chunk size in kB"
    default 4096

config LOAD_FS_MAX_CHUNK_KB
    int "File system maximum load chunk size (kB)"
    default 4096

config ENABLE_WATCHDOG
	bool "Enable watchdog"
    default y

config TRANSPORT_READY_TIMEOUT
	int "Timeout in seconds before transport must become ready"
    default 10
endmenu
