menu "Build configuration"

config OPTIMIZE
    string "Optimize level"

config DEBUG_SYMBOLS
    bool "Enable debug symbols"

config STACK_USAGE
    bool "Generate stack usage information"

config STACK_SIZE_KB
    int "Stack size in Kbyte"
    default 2

endmenu
