mainmenu "Punchboot configuration"

source "src/arch/Kconfig"
source "src/plat/Kconfig"
source "src/arch/*/Kconfig"

menu "Generic options"

config KEYSTORE
	string "Key-store source"
	default "pki/internal_keystore.bpak"

config LOGLEVEL
	int "loglevel"
    default 0

config ENABLE_WATCHDOG
	bool "Enable watchdog"
    default y

config PRINT_BOOT_BANNER
    bool "Print boot banner"
    default y

config WATCHDOG_TIMEOUT
    int "Watchdog timeout (s)"
    default 5
    depends on ENABLE_WATCHDOG

config ENABLE_TIMESTAMPING
    bool "Enable timestamping"
    default n

config PRINT_TIMESTAMPS
    bool "Print timestamps before boot"
    depends on ENABLE_TIMESTAMPING
    default n

config NO_OF_TIMESTAMPS
    int "Maximum number of timestamps"
    depends on ENABLE_TIMESTAMPING
    default 64

config CALL_BOARD_SLC_SET_CONFIGURATION
    bool "Call board_slc_set_configuration"
    default n
    help
        When the SLC configuration command is invoked the platform code also
        calls board_slc_set_configuration.

config CALL_BOARD_SLC_SET_CONFIGURATION_LOCK
    bool "Call board_slc_set_configuration_lock"
    default n
    help
        When the SLC configuration lock command is invoked the platform code also
        calls board_slc_set_configuration_lock.
endmenu

menu "Build configuration"

config OPTIMIZE
    string "Optimize level"

config DEBUG_SYMBOLS
    bool "Enable debug symbols"

config STACK_USAGE
    bool "Generate stack usage information"

config STACK_SIZE_KB
    int "Stack size in Kbyte"
    default 2

endmenu

menu "Boot"
source "src/boot/Kconfig"
endmenu

menu "Drivers"
source "src/drivers/*/Kconfig"
endmenu

menu "Authentication"
config AUTH
    bool "Enable command mode authentication"
    default y
    help
        This will enable authentication when the security life cycle is >= LOCKED

config AUTH_TOKEN
    bool "Token based authentication"
    depends on AUTH
    help
        Authenticate using the signature of the hash, of the device UUID

config AUTH_PASSWORD
    bool "Password based authentication"
    depends on AUTH
    help
        Authenticate using a password. This requires a board level implementation.
endmenu

menu "Command mode transport configuration"

config CMD_BUF_SIZE_KB
    int "Command buffer size in kB"
    default 4096

config TRANSPORT_MAX_CHUNK_KB
    int "Transport maximum chunk size in kB"
    default 4096

config TRANSPORT_READY_TIMEOUT
    int "Timeout in seconds before transport must become ready"
    default 10

config TRANSPORT_ENTER_BOARD_CB
    bool "Call board level callback when entering command mode"
    default n

endmenu

source "src/lib/Kconfig"
