mainmenu "Punchboot configuration"

source "src/arch/Kconfig"
source "src/plat/Kconfig"
source "src/arch/*/Kconfig"

menu "Generic options"

config KEYSTORE
	string "Key-store source"
	default "pki/internal_keystore.bpak"

config LOGLEVEL
	int "loglevel"
    default 0

config ENABLE_WATCHDOG
	bool "Enable watchdog"
    default y

config WATCHDOG_TIMEOUT
    int "Watchdog timeout (s)"
    default 5
    depends on ENABLE_WATCHDOG

config DUMP_TIMING_ANALYSIS
    bool "Dump timing analysis"
    default n
    help
        Print internal timestamps just before jump.
        This is mostly meaningful if loglevel is 0.

config CALL_BOARD_SLC_SET_CONFIGURATION
    bool "Call board_slc_set_configuration"
    default n
    help
        When the SLC configuration command is invoked the platform code also
        calls board_slc_set_configuration.

config CALL_BOARD_SLC_SET_CONFIGURATION_LOCK
    bool "Call board_slc_set_configuration_lock"
    default n
    help
        When the SLC configuration lock command is invoked the platform code also
        calls board_slc_set_configuration_lock.
endmenu

menu "Build configuration"

config OPTIMIZE
    string "Optimize level"

config DEBUG_SYMBOLS
    bool "Enable debug symbols"

config STACK_USAGE
    bool "Generate stack usage information"

config STACK_SIZE_KB
    int "Stack size in Kbyte"
    default 2

endmenu

menu "Drivers"
source "src/drivers/*/Kconfig"
endmenu

menu "Authentication"
config AUTH
    bool "Enable command mode authentication"
    default y

choice AUTH_METHOD
    prompt "Authentication method"
    depends on AUTH

config AUTH_METHOD_TOKEN
    bool "Token based authentication"

config AUTH_METHOD_PASSWORD
    bool "Password based authentication"

endchoice

endmenu

menu "Command mode transport configuration"

config CMD_BUF_SIZE_KB
    int "Command buffer size in kB"
    default 4096

config TRANSPORT_MAX_CHUNK_KB
    int "Transport maximum chunk size in kB"
    default 4096

config LOAD_FS_MAX_CHUNK_KB
    int "File system maximum load chunk size (kB)"
    default 4096

config TRANSPORT_READY_TIMEOUT
    int "Timeout in seconds before transport must become ready"
    default 10

config TRANSPORT_ENTER_BOARD_CB
    bool "Call board level callback when entering command mode"
    default n

endmenu

menu "Library functions"

config LIB_UUID3
    bool "Enable UUID3 function"

config BEARSSL
    bool "Enable bearssl crypto library"

endmenu
