menu "imx8x configuration"
    depends on PLAT_IMX8X
    comment "imx8x configuration"

choice CONSOLE_UART
	bool "Select console UART"
config CONSOLE_UART0
	bool "UART0"
config CONSOLE_UART1
	bool "UART1"
config CONSOLE_UART2
	bool "UART2"
endchoice
endmenu

menu "Output image"
    depends on PLAT_IMX8X
config IMX8X_CREATE_IMX_IMAGE
    bool "Create imx-image"
    default n

config IMX8X_SIGN_IMAGE
    bool "Sign image"
    default n
    depends on IMX8X_CREATE_IMX_IMAGE
endmenu


