menu "imx8x configuration"
    depends on PLAT_IMX8X
    comment "Console configuration"

config LPUART_BASE
    hex "Console port base address"
    default 0x5A060000

config LPUART_BAUDRATE
    hex "Baudrate setting"
    default 0x402008b

comment "USB Transport"
config EHCI_BASE
    hex "EHCI base address"
    default 0x5b0d0000

comment "CAAM"
config IMX_CAAM_BASE
    hex "CAAM base address"
    default 0x31430000

endmenu
