menu "imx8x configuration"
    depends on PLAT_IMX8X
    comment "Console configuration"

config LPUART_BASE
    hex "Console port base address"
    default 0x5A060000

config LPUART_BAUDRATE
    hex "Baudrate setting"
    default 0x402008b

choice IMX8X_USB
    bool "Platform"
config IMX8X_USB1
    bool "Use USB1"
    depends on PLAT_IMX8X
config IMX8X_USB2
    bool "Use USB2"
    depends on PLAT_IMX8X
endchoice

comment "USB Transport"
config EHCI_BASE
    hex "EHCI base address"
    default 0x5b0d0000
    depends on IMX8X_USB1

config DWC3_BASE
    hex "DWC3 base address"
    default 0x5b120000
    depends on IMX8X_USB2

comment "CAAM"
config IMX_CAAM_BASE
    hex "CAAM base address"
    default 0x31430000

comment "GPIO"
config IMX_GPIO_BASE
    hex "IMX GPIO base address"
    default 0x5D080000

comment "USBDCD"
config IMX_USBDCD_BASE
    hex "USB DCD base address"
    default 0x5b100800

comment "Generic timer"
config IMX_GPT_BASE
    hex "IMX timer base"
    default 0x5D140000

config IMX_GPT_PR
    int "IMX timer divisor"
    default 24
endmenu

menu "Output image"
    depends on PLAT_IMX8X
config IMX8X_CREATE_IMX_IMAGE
    bool "Create imx-image"
    default n

config IMX8X_SIGN_IMAGE
    bool "Sign image"
    default n
    depends on IMX8X_CREATE_IMX_IMAGE
endmenu
